<% provide(:title, "Contact")%>
<h1>Contact</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p>Tell us about your experience. We know you love to have fun. share...</p>
<%=link_to image_tag("draw.jpg", alt: "cards")
 %>
 </div>
 </div>
